.label-style {
    @apply font-medium text-xs text-stone-400;
}

.span-label-style {
    @apply text-xs font-semibold text-gray-400 uppercase mb-1;
}
.table-header-style {
    @apply font-semibold text-xs text-stone-600;
}

.input-border {
    @apply border border-gray-300 rounded-full px-4 py-2 focus:border-stone-500 focus:border focus:outline-none
}